---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- Render publication list by category, ordered by the per-entry order field -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% assign posts = site.publications | where: "category", category[0] | sort: "order" %}
    {% for post in posts %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
        <h3 class="archive__item-title" itemprop="headline">
          <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
        </h3>
        <p class="archive__item-excerpt" itemprop="description">{{ post.citation }}</p>
      </article>
    {% endfor %}
  {% endfor %}
{% else %}
  {% assign posts = site.publications | sort: "order" %}
  {% for post in posts %}
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <h3 class="archive__item-title" itemprop="headline">
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
      </h3>
      <p class="archive__item-excerpt" itemprop="description">{{ post.citation }}</p>
    </article>
  {% endfor %}
{% endif %}
